.counter {
	display: flex;
  flex-direction: column;
	justify-content: center;
  align-items: center;
  background-color:rgb(33, 98, 128);
  width: 150px;
  height: 150px;
  color: #ffff;
  border-radius: 5px;
  font-size:20px;
  position: relative;
  left: 30px;
}

.counter p {
  margin: 0;
  padding: 10px;
  margin-top: -20px;
}