.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(33, 98, 128);
  width: 150px;
  height: 150px;
  color: #fff;
  border-radius: 5px;
  font-size: 20px;
  position: relative;
  left: 30px;
}

.counter p {
  margin: 10px 0 0;
  padding: 10px 0;
}
