.parking-spot {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 6px;
}

.occupied {
  background-color: tomato;
  color: white;
  font-size: 8px;
}

.barcode-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items:center;
  width:100%;
  height:100%;
  color: white;
  font-size: 10px;
}

.parking-spot.bounce {
  animation: bounce 0.3s;
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}
