.parking-lot {
  display: grid;
  grid-template-rows: 150px 150px 150px 150px 150px 150px;
  text-align: center;
  min-width: fit-content;
  height: 100vh;
}

.top-row,
.bottom-row {
  display: flex;
  justify-content: center;
  height:150px;
}

.inner-row {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  height: 150px;
}

.separator {
  height: 150px;
  position: relative;
}

.blank {
  flex-grow: 1;
  flex-basis: 0;
}

.ParkingPlace {
  flex-grow: 1;
  flex-basis: 0;
}

