.parking-lot {
  display: grid;
  grid-template-rows: 80px 100px 80px 80px 100px 80px;
  gap: 4px;
  border: 1px solid var(--main-border);
  margin: 64px 128px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  padding: 5px;
  text-align: center;
}

.parking-lot p {
  padding:30px;
}

.top-row,
.bottom-row {
  display: flex;
  justify-content: center;
  gap: 3px;
}

.inner-row {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap:3px;
}

.separator {
  height: 100px;
}

.blank {
  flex-grow: 1;
  flex-basis: 0;
}

.ParkingPlace {
  flex-grow: 1;
  flex-basis: 0;
}
